@import url(https://fonts.googleapis.com/css?family=Karla);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'karla', sans-serif;
}

body {
    background: #000000;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: inset 0 150px 100px -10px rgba(0, 0, 0, 0.7);
}
.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #b6b6b6;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
}

.navbar a:hover, .navbar a.active {
    color: red;
    font-size: 19px;
    font-weight: 500;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    background-color: #0d0d0d;
    padding: 100px 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1600px;
    max-height: 750px;
        float: top;
    margin-top: 80px;
}

.home-content {
    max-width: 600px;
    float: right;
    margin-right: 200px;
}

.home .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home img {
    width: 40vw;
    border-radius: 50%;

}


.home-content h1 {
    font-size: 56px;
    font-weight: 1000;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 28, 28);
}

.home-content p {
    font: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display:  flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: red;
    border: 2px solid red;
    border-radius: 8px;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
    
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: red;

}

.btn-box a:hover {
    font-size: 20px;
}

.credit {
    color: #b6b6b634;
    font-size: 15px;
    font-weight: 10;
    float: top;
    margin-top: 30px;
}
